{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <div class="lipsum">
        <p>
            Lorem ipsum dolor sit amet.
        </p>
        <p>
            Morbi viverra enim tellus.
        </p>
    </div>

    <div class="lipsum-1">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt blandit elit, quis congue dolor lacinia quis. Cras congue sodales enim vel finibus. Donec blandit, lorem eget elementum fringilla, nibh orci posuere lacus, ac scelerisque ipsum tellus sit amet velit. Donec tempor dui quis turpis dignissim ultricies. Proin mollis arcu rhoncus leo vestibulum maximus. Nullam quis ornare orci. Fusce ultricies auctor ultrices. Maecenas quis dui semper, tincidunt diam nec, maximus mi. Morbi posuere turpis nunc.
        </p>
        <p>
            Morbi viverra enim tellus. Praesent pharetra mi id faucibus faucibus. Sed finibus est ut odio sollicitudin, sed lobortis erat dapibus. Etiam eu sapien augue. Duis porta, magna quis pellentesque porta, nisi dolor pulvinar nisi, in eleifend nibh tortor in neque. Mauris id tempus nisl, sit amet volutpat nisl. Sed sit amet ex consectetur, ornare metus in, aliquam lectus. Integer sed viverra elit. In eget diam ac ipsum scelerisque ultrices in dapibus neque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam nec ante nisi. Duis sagittis massa risus, ut semper ipsum suscipit ac. Nulla quis nibh vel purus pellentesque elementum sed sit amet nunc. Mauris quis fermentum nisi, ac tincidunt quam.
        </p>
    </div>
</div>

<div {{ stimulus_controller('hello') }}>
    ...
</div>

{% endblock %}
